ul.menu {
    list-style: none
}

ul.menu li {
    border: 2px
}

li.dir {
    font-weight: 600
}

li.file {
    color:grey;
}

li.available {
    color: green;
}

ul.menu li:hover {
    background-color: lightgrey
}

.horizontal {
    display: inline-block
}